body{
    background-color: white;
    width: 100%;
}

.users{
    min-height: 100vh;
}

.user-card{
    height: 600px;
}

.menu-background{
    min-height:100vh;
    background-color: hsla(0, 0%, 0%, 0.347);
}