body{
    background-color: white;
    width: 100%;
}

.users{
    min-height: 100vh;
}


.menu-background{
    min-height:100vh;
    background-color: hsla(0, 0%, 0%, 0.347);
}

.transactions-bg{
    height:100px;
    width: 100%;
    background-color: aqua;
}

.profile-picture-background{
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: hsl(0, 0%, 96%);
    padding:2px;
    top:-70px;
}

.profile-picture{
    width:100%;
    border-radius: 50%;
}

#transactionsDisplay{
    max-height:160px;
}

.acc-creation-input{
    border:none;
    border-bottom: 2px solid red;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}