body{

}

.users{
    min-height: 100vh;
}

.user-card{
    height: 600px;
}

.wrapper{
    height:100vh;
    width:100%;
    background-color: hsla(0, 0%, 0%, 0.161);
    position: absolute;
    top:0;
    z-index: 3;
}